#!/usr/bin/env sh

alias sudo='sudo '

alias ls='ls --color=auto'
alias ll='ls -lhG'
alias la='ls -AlhG'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias gs='git status'
alias gc='git commit'
alias gck='git checkout'
alias gpull='git pull'
alias gpush='git push'
alias gd='git diff'
alias glog='git log'
alias gl='git log --oneline --decorate --all --graph'
alias ga='git add'
alias gca='git commit -a'
alias gsub='git submodule'
alias gsubf='git submodule foreach'
alias gr='git remote'
alias gdiff='git difftool'
alias gmt='git mergetool'
alias gmerge='git merge'

alias sys='sudo systemctl'
alias sysu='systemctl --user'

alias reboot="sudo systemctl reboot"
alias poweroff="sudo systemctl poweroff"
alias halt="sudo systemctl halt"

alias please='sudo !!'
alias rtfm='man'
alias gimme='sudo chown $USER:$USER'
alias free='free -h'
alias ...='cd ../..'
alias ....='cd ../../..'
alias mkdir='mkdir -p'
alias du='du -h'
alias df='df -h'
alias visudo='sudo -E visudo'

alias pacopt='comm -13 <(pacman -Qqdt | sort) <(pacman -Qqdtt | sort)'
alias pacinstalled='comm -23 <(pacman -Qeq | sort) <(pacman -Qgq base-devel xorg-apps texlive-most | sort)'

alias ipecho='curl ipecho.net/plain; echo'
alias ccat='pygmentize'
alias copy="xclip -selection clipboard; xclip -selection clipboard -o"

alias cpr='rsync --archive -hh --partial --info=stats1 --info=progress2 --modify-window=1'
alias mvr='rsync --archive -hh --partial --info=stats1 --info=progress2 --modify-window=1 --remove-source-files'
alias sub='subliminal download -l en'
alias ports='netstat -tulpena'

alias ndiff='nvim -d'
alias nview='nvim -R'

alias python='python3'
alias pip='pip3'
alias p3='python3'
alias py='python3'
alias p2='python2'

cs() {
    cd "$@"
    ls -lAhl
}

_fzf_compgen_path() {
  eval "$FZF_DEFAULT_COMMAND" "$1"
}
