#!/usr/bin/env sh
# shellcheck source=/dev/null
[ -r  ~/.config/sh/envrc ] && . ~/.config/sh/envrc

systemctl --user import-environment
dbus-update-activation-environment --systemd --all

[ -f ~/.Xresources ] && xrdb ~/.Xresources
xsetroot -cursor_name left_ptr
feh --bg-center --no-fehbg ~/dotfiles/wallpapers/arch.png &
launch-polybar &
sxhkd ~/.config/sxhkd/bspwm-sxhkdrc &
kb-setup &
dunst &
numlockx &

if [ "$(hostname)" = "garry" ]; then
    xinput set-prop "ETPS/2 Elantech Touchpad" "libinput Tapping Enabled" 1 &
    xinput set-prop "ETPS/2 Elantech Touchpad" "libinput Natural Scrolling Enabled" 1 &
    xrandr --output eDP-1-1 --off &
    xrandr --output HDMI-0 --mode 1920x1080 --rate 144 &
    nvidia-settings --load-config-only &
    nvidia-settings -a '[gpu:0]/GPUPowerMizerMode=1' &
    protonmail-bridge --no-window &
elif [ "$(hostname)" = "halley" ]; then
    xinput set-prop "SynPS/2 Synaptics TouchPad" "libinput Tapping Enabled" 1 &
    xinput set-prop "SynPS/2 Synaptics TouchPad" "libinput Natural Scrolling Enabled" 1 &
    xinput set-prop "ELAN Touchscreen" "Device Enabled" 0 &
    protonmail-bridge --no-window &
elif [ "$(hostname)" = "liselle" ]; then
    nvidia-settings --load-config-only &
    nvidia-settings -a '[gpu:0]/GPUPowerMizerMode=1' &
# elif [ "$(hostname)" = "dev-004p" ]; then
#     synclient HorizTwoFingerScroll=1
#     synclient VertScrollDelta=-77
#     synclient HorizScrollDelta=-77
#     synclient PalmDetect=1
fi
