[Match]
Name=bond0

[Network]
DHCP=yes
MulticastDNS=yes
# DNS=1.1.1.2
# DNS=192.168.1.203
# Address=10.0.0.1
# Gateway=10.0.0.2

# [DHCP]
# UseDNS=false
