[Unit]
Description=Start tmux in detached session
Documentation=man:tmux(1)

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/tmux new-session -Ad -s %I
ExecStop=/usr/bin/tmux kill-session -t %I

[Install]
WantedBy=multi-user.target
