[Unit]
Description=Invert webcam into loopback dummy cam
Wants=graphical.target
After=graphical.target

[Service]
ExecStart=/usr/bin/ffmpeg -f v4l2 -i /dev/video1 -vf "vflip" -f v4l2 /dev/video0
Restart=always
RestartSec=12

[Install]
WantedBy=default.target
