#!/bin/sh

[ -r ~/.env.sh ] && . ~/.env.sh
systemctl --user import-environment PATH
[ -f ~/.Xresources ] && xrdb ~/.Xresources
dbus-update-activation-environment --systemd DISPLAY
eval "$(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)"
export SSH_AUTH_SOCK
kb-setup.sh &
[ -r ~/.Xkeymap ] && xkbcomp ~/.Xkeymap "$DISPLAY"
sxhkd &
numlockx &
nm-applet &
# blueman-applet &
feh --bg-center ~/dotfiles/wallpapers/arch.png &
[ -r ~/.hostrc ] && . ~/.hostrc &
nvidia-settings --load-config-only &
nvidia-settings -a '[gpu:0]/GPUPowerMizerMode=1' &
