! hard contrast: *background: #1d2021
*background: #1d2021
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984

! Others
*color24:  #076678
*color66:  #427b58
*color88:  #9d0006
*color96:  #8f3f71
*color100: #79740e
*color108: #8ec07c
*color109: #83a598
*color130: #af3a03
*color136: #b57614
*color142: #b8bb26
*color167: #fb4934
*color175: #d3869b
*color208: #fe8019
*color214: #fabd2f
*color223: #ebdbb2
*color228: #f2e5bc
*color229: #fbf1c7
*color230: #f9f5d7
*color234: #1d2021
*color235: #282828
*color236: #32302f
*color237: #3c3836
*color239: #504945
*color241: #665c54
*color243: #7c6f64
*color244: #928374
*color245: #928374
*color246: #a89984
*color248: #bdae93
*color250: #d5c4a1

! These are all possible options, presented with default values.
! st will fallback to *.option if st.option is not present.
! see src/config.h for more information about option meanings.

! These options only take effect on startup.
st.termname:     st-256color
! if you do not set shell, precedence is: -e arg, utmp option, SHELL env var, /etc/passwd shell
st.shell:        /bin/sh
*.font: mono:size=18:antialias=true
st.font2: FontAwesome:size=14:antialias=true

st.xfps:              120
st.actionfps:         30
! Kerning / character bounding-box height multiplier
st.chscale:           1.0
! Kerning / character bounding-box width multiplier
st.cwscale:           1.0
! blinking timeout for terminal and cursor blinking (0 disables)
st.blinktimeout:      800
! bell volume. Value between -100 and 100. (0 disables)
st.bellvolume:        0
